.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--unet-blue-dark);
    color: var(--unet-white);
    padding: 1rem;
    text-align: center;
}

.content {
    flex: 1;
    padding: 1rem;
}

.footer {
    background-color: var(--unet-blue-light);
    color: var(--unet-white);
    text-align: center;
    padding: 0.5rem;
}
